<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSPesaje.DesktopApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSPesaje.DesktopApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <CSPesaje.DesktopApplication.My.MySettings>
      <setting name="LastUserLoggedIn" serializeAs="String">
        <value />
      </setting>
    </CSPesaje.DesktopApplication.My.MySettings>
  </userSettings>
  <applicationSettings>
    <CSPesaje.DesktopApplication.My.MySettings>
      <setting name="EnableVisualStyles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimumSplashScreenDisplaySeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MDIFormMargin" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ShowLastUserLoggedIn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GridsAndListsFont" serializeAs="String">
        <value>Microsoft Sans Serif, 11.25pt</value>
      </setting>
      <setting name="SingleInstanceApplication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCustomDialogForErrorMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportsPath" serializeAs="String">
        <value>C:\Users\Tomas\Dropbox\Cardoner Sistemas\CS-Pesaje\2017\Reportes</value>
      </setting>
      <setting name="DBConnection_Datasource" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DBConnection_Database" serializeAs="String">
        <value>CSPesaje</value>
      </setting>
      <setting name="DBConnection_UserID" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DBConnection_Password" serializeAs="String">
        <value>43ubKjbAQCxR+foIcEK/PcLRw0VHFqfd</value>
      </setting>
      <setting name="DBConnection_Provider" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="ScaleConnectionEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLogon_Usuario" serializeAs="String">
        <value>administrador</value>
      </setting>
      <setting name="AutoLogon_Password" serializeAs="String">
        <value>43ubKjbAQCxR+foIcEK/PcLRw0VHFqfd</value>
      </setting>
      <setting name="Reporte_Pesada_Previsualizar" serializeAs="String">
        <value>True</value>
      </setting>
    </CSPesaje.DesktopApplication.My.MySettings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CSPesajeContext" connectionString="metadata=res://*/CSPesaje.csdl|res://*/CSPesaje.ssdl|res://*/CSPesaje.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CSPesaje;persist security info=True;user id=sa;password=Tai1802Pei;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>