<AppearanceConfig>
  <EnableVisualStyles>true</EnableVisualStyles>
  <MinimumSplashScreenDisplaySeconds>5</MinimumSplashScreenDisplaySeconds>
  <MdiFormMargin>4</MdiFormMargin>
  <UseCustomDialogForErrorMessage>true</UseCustomDialogForErrorMessage>
  <ListsFontName>Microsoft Sans Serif</ListsFontName>
  <ListsFontSize>11.25</ListsFontSize>
  <ListsFontBold>false</ListsFontBold>
</AppearanceConfig>