<GeneralConfig>
  <SingleInstanceApplication>true</SingleInstanceApplication>
  <ReportsPath>C:\Users\Tomas\Dropbox\Cardoner Sistemas\CS-Pesaje\2017\Reportes</ReportsPath>
  <ShowLastLoggedInUser>true</ShowLastLoggedInUser>
  <AutoLogonUsername>administrador</AutoLogonUsername>
  <AutoLogonPassword>43ubKjbAQCxR+foIcEK/PcLRw0VHFqfd</AutoLogonPassword>
  <ScaleConnectionEnabled>true</ScaleConnectionEnabled>
  <ReportePesadaPrevisualizar>true</ReportePesadaPrevisualizar>
</GeneralConfig>